<div class="more_action">
  <header>
    <a href="javascript:void(0);" (click)="backDetail()">
      <i class="icon-angle-left"></i>
    </a>
    <span>更多操作</span>
  </header>
  <section>
    <div class="action_holder">
      <a href="javascript:void(0);" (click)="goFinance()" class="cur">账务处理</a>
      <a href="javascript:void(0);" (click)="goCash()">入账</a>
      <a href="javascript:void(0);" (click)="goCredit()">信用</a>
      <a href="javascript:void(0);" (click)="goPrint()">打印单据</a>
      <a href="javascript:void(0);" (click)="goReceive()">接待日志</a>
      <a href="javascript:void(0);" (click)="goCard()">门卡制作</a>
    </div>
  </section>
</div>
<div class="print_management" *ngIf="showPrint">
  <header>
    <a href="javascript:void(0);" (click)="backMore()">
      <i class="icon-angle-left"></i>
    </a>
    <span>打印入帐单</span>
  </header>
  <section></section>
</div>
