<div class="login_panel">
  <img class="login_cover" src="../../../assets/images/login_cover.jpg" alt="">
  <div class="login_content">
    <p>
      <select>
        <option value="1">早班</option>
        <option value="2">中班</option>
        <option value="3">晚班</option>
      </select>
    </p>
    <p><input type="text" placeholder="请输入工号"></p>
    <p><input type="password" placeholder="●●●●●●" name="" id=""></p>
    <p><input type="button" (click)="gotoMain()" value="登录"></p>
    <p><a href="#/password">修改密码</a></p>
  </div>
</div>
