.money_income{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  overflow: hidden;
  z-index: 101;
  header{
    position: absolute;
    width:100vw;
    height:11.73vw;
    line-height: 11.73vw;
    text-align: center;
    background-color: #1B7CBD;
    z-index:102;
    a{
      position: absolute;
      left:0;
      top:0;
      height:11.73vw;
      width:12vw;
      text-align: left;
      text-indent: 3.2vw;
      i{
        line-height: 11.73vw;
        font-size: 8vw;
        color:#FFF;
      }
    }
    span{
      font-size: 4.8vw;
      color:#FFF;
      font-family: "Microsoft YaHei";
    }
  }
  section{
    position: absolute;
    left:0;
    top:11.73vw;
    width:100vw;
    height: calc(100% - 11.73vw);
    overflow-x: hidden;
    overflow-y: auto;
    .lock_div{
      height: 23.2vw;
      padding: 0 3.2vw;
      border-bottom: 2.66vw solid #F5F5F5;
      h3{
        height: 11vw;
        line-height: 13vw;
        font-size: 4vw;
        font-weight: normal;
      }
      p{
        height: 8vw;
        line-height: 8vw;
        font-size: 3.733vw;
        color:#666;
        span{
          float: right;
          color:#333;
        }
      }
    }
    .finance_items{
      border-bottom: 2.66vw solid #F5F5F5;
      p{
        height: 12vw;
        line-height: 12vw;
        padding: 0 3.2vw;
        font-size: 3.733vw;
        border-bottom: 1px solid #E1E1E1;
        &:last-child{
          border:none;
        }
        span{
          color:#666;
        }
        em{
          float: right;
          color:#333;
        }
      }
    }
    .finance_act{
      padding: 5.6vw 3.2vw;
      overflow: hidden;
      a{
        float: left;
        width: 45vw;
        height: 12vw;
        margin-bottom: 5.33vw;
        line-height: 11.2vw;
        text-align: center;
        font-size: 4vw;
        border: 1px solid #1B7CBD;
        border-radius: 2vw;
        color: #1B7CBD;
        &:nth-child(2n+1){
          margin-right: 3.6vw;
        }
        &.cur{
          background-color: #1B7CBD;
          color:#FFF;
        }
      }
    }
    .item_selector{
      position: fixed;
      left:0;
      top:0;
      width:100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
      z-index:120;
      div{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        background-color: #FFF;
        p{
          height: 12vw;
          line-height: 12vw;
          padding: 0 3.2vw;
          border-bottom: 1px solid #E1E1E1;
          &:last-child{
            border: none;
          }
        }
      }
    }
  }
}
