.pass {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 200;

    header {
        height: 11.73vw;
        background-color: #1B7CBD;
        background-image: url(../../../assets/images/pass_title.png);
        background-repeat: no-repeat;
        background-size: 30vw 11.73vw;
        background-position: center;

        a {
            position: absolute;
            left: 0;
            top: 0;
            height: 11.73vw;
            width: 12vw;
            text-align: left;
            text-indent: 3.2vw;

            i {
                line-height: 11.73vw;
                font-size: 8vw;
                color: #FFF;
            }
        }
    }

    section {
        h3 {
            height: 18.4vw;
            font-size: 5.333vw;
            font-family: "Microsoft YaHei";
            font-weight: normal;
            color: rgb(25, 122, 185);
            line-height: 24.4vw;
            text-align: center;
        }
        div {
            width: 76vw;
            margin: 0 auto;
            p {
                margin: 6.666vw 0;

              input {
                    width: 73vw;
                    height: 11.2vw;
                    padding: 0 1vw;
                    border: 1px solid #E1E1E1;
                    border-radius: 2vw;
                    font-size: 3.6vw;
                    text-indent: 2vw;
                    white-space: nowrap;
                    outline: none;
                }

                select:focus, input:focus {
                    border-color: #1B7CBD;
                }

                input[type=button] {
                    background-color: #1B7CBD;
                    border: none;
                    color: #FFF;
                    letter-spacing: 2px;
                }
                input[type=button]:focus {
                    border: none;
                    outline: none;
                }

                a {
                    color: #999;
                    text-decoration: underline;
                }
            }
        }
    }
}
