<div class="credit">
  <header>
    <a href="javascript:void(0);" (click)="backMore()">
      <i class="icon-angle-left"></i>
    </a>
    <span>信用授权明细</span>
  </header>
  <section>
    <div>
      <p><span>银行</span><em>VISA贷记卡</em></p>
      <p><span>授权额度</span><em>3900.00</em></p>
      <p><span>授权号</span><em>020741</em></p>
      <p><span>卡号</span><em>*************3256</em></p>
      <p><span>有效期</span><em>**/**</em></p>
      <p><span>水单号</span><em>00024</em></p>
      <p><span>状态</span><em>预授权</em></p>
      <p><span>创建时间</span><em>2018-03-20 12:00:30</em></p>
    </div>
    <div><a href="javascript:void(0);" (click)="backMore()">保存</a><a href="javascript:void(0);" (click)="backMore()">取消</a></div>
  </section>
</div>
