.reception,.reception_list{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 101;
  header{
    position: absolute;
    width:100vw;
    height:11.73vw;
    line-height: 11.73vw;
    text-align: center;
    background-color: #1B7CBD;
    z-index:102;
    a{
      position: absolute;
      left:0;
      top:0;
      height:11.73vw;
      width:12vw;
      text-align: left;
      text-indent: 3.2vw;
      i{
        line-height: 11.73vw;
        font-size: 8vw;
        color:#FFF;
      }
    }
    span{
      font-size: 4.8vw;
      color:#FFF;
      font-family: "Microsoft YaHei";
    }
  }
  section{
    position: absolute;
    left:0;
    top:11.73vw;
    width:100vw;
    height: calc(100% - 11.73vw);
    overflow-x: hidden;
    overflow-y: auto;
    .reception_div{
      p{
        height: 12vw;
        padding: 0 3.2vw;
        line-height: 12vw;
        border-bottom: 1px solid #E1E1E1;
        i{
          float: right;
          line-height: 12vw;
          font-size: 6vw;
        }
      }
    }
  }
}
.reception_list{
  z-index: 110;
  header{
    em{
      position: absolute;
      right: 0;
      top: 0;
      width: 12vw;
      height: 11.73vw;
      text-align: center;
      i{
        line-height: 11.73vw;
        font-size: 5vw;
        color: #FFF;
      }
    }
  }
  section{
    .reception_short{
      height: 41.066vw;
      border-bottom: 2.66vw solid #F5F5F5;
      div{
        position: relative;
        height: 27.4vw;
        padding-left: 11.866vw;
        padding-top: 3vw;
        em{
          position: absolute;
          left: 3.2vw;
          top: 4vw;
          width: 5.6vw;
          height: 5.6vw;
          line-height: 5.6vw;
          background-color: #1B7CBD;
          border-radius: 5.6vw;
          text-align: center;
          i{
            font-size: 2.535vw;
            line-height: 5.6vw;
            color: #FFF;
          }
        }
        p{
          float: left;
          height: 7.4vw;
          line-height: 7.4vw;
          font-size: 3.733vw;
          color:#666;
          &:nth-child(2n){
            width: 41.86vw;
          }
          &:nth-child(2n+1){
            span{
              display: inline-block;
              width: 20vw;
              text-align: right;
            }
          }
        }
      }
      &>p{
        height: 10.8vw;
        line-height: 10.8vw;
        padding-left: 11.866vw;
        font-size: 4vw;
        border-top: 1px solid #E1E1E1;
      }
    }
  }
}
.reception_filter{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 120;
  overflow: hidden;
  .filter_panel{
    position: absolute;
    left:10.4vw;
    top: 0;
    width:89.6vw;
    height: 100%;
    background-color: #FFF;
    h3{
      height: 11.73vw;
      line-height: 11.73vw;
      font-size: 4vw;
      font-weight: normal;
      text-indent: 3.2vw;
      background-color: #F5F5F5;
      color:#333;
    }
    .user_type{
      padding: 2vw 0;
      border-bottom: 1px solid #E1E1E1;
      ul{
        overflow: hidden;
        li{
          float: left;
          width: 50%;
          padding-left: 3.2vw;
          height: 8vw;
          line-height: 8vw;
          i{
            font-size: 3.733vw;
            margin-right: 2vw;
            vertical-align: baseline;
          }
          .icon-check-circle2{
            display: none;
          }
          &.cur{
            .icon-circle2{
              display: none;
            }
            .icon-check-circle2{
              display: inline;
              color: #1B7CBD;
            }
          }
        }
      }
    }
    .date_check{
      height: 54.4vw;
      padding: 3.2vw;
      border-bottom: 1px solid #E1E1E1;
      div{
        height: 12vw;
        line-height: 12vw;
        span{
          display: inline-block;
          width:20vw;
          font-size: 3.733vw;
        }
        p{
          position: relative;
          display: inline-block;
          width: 50.66vw;
          height: 8vw;
          line-height: 8vw;
          vertical-align: middle;
          border: 1px solid #E1E1E1;
          overflow: hidden;
          input{
            width:40vw;
            height: 7.5vw;
            vertical-align: top;
            border: none;
            margin-left: 2vw;
            font-size: 3.733vw;
          }
          i{
            position: absolute;
            top:1.5vw;
            right:2vw;
            font-size: 4vw;
            color:#BBB;
          }
        }
      }
    }
    .receving_state{
      h4{
        height: 11vw;
        line-height: 14vw;
        text-indent: 3.2vw;
        font-weight: normal;
        font-size: 3.733vw;
        color:#333;
      }
      div{
        ul{
          overflow: hidden;
          li{
            float: left;
            width: 50%;
            height: 8vw;
            line-height: 8vw;
            padding-left: 3.2vw;
            i{
              font-size: 3.733vw;
              margin-right: 2vw;
              vertical-align: baseline;
            }
            .icon-check-square2{
              display: none;
            }
            &.cur{
              .icon-square2{
                display: none;
              }
              .icon-check-square2{
                display: inline;
                color: #1B7CBD;
              }
            }
          }
        }
      }
    }
    button{
      display: block;
      width:29.33vw;
      height: 8.8vw;
      text-align: center;
      line-height: 8.8vw;
      margin: 10vw auto 0;
      background-color: #1B7CBD;
      border:none;
      outline: none;
      border-radius: 2vw;
      color: #FFF;
    }
  }
}
@media screen and (max-width:500px){
  .reception_list section .reception_short div em{
    line-height: 5vw;
    i{
      display: inline-block;
      -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
      transform: scale(0.75);
    }
  }
}
