.preorder{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 101;
  header{
    position: absolute;
    width:100vw;
    height:11.73vw;
    line-height: 11.73vw;
    text-align: center;
    background-color: #1B7CBD;
    z-index:102;
    a{
      position: absolute;
      left:0;
      top:0;
      height:11.73vw;
      width:12vw;
      text-align: left;
      text-indent: 3.2vw;
      i{
        line-height: 11.73vw;
        font-size: 8vw;
        color:#FFF;
      }
    }
    span{
      font-size: 4.8vw;
      color:#FFF;
      font-family: "Microsoft YaHei";
    }
    em{
      position: absolute;
      right: 3.2vw;
      top:0;
      height: 11.73vw;
      width:12vw;
      font-size: 4vw;
      text-align: right;
      color: #FFF;
    }
  }
  section{
    position: absolute;
    left:0;
    top:11.73vw;
    width:100vw;
    height: calc(100% - 11.73vw);
    overflow-x: hidden;
    overflow-y: auto;
    .preorder_number{
      height: 12vw;
      line-height: 11vw;
      background-color: #F5F5F5;
      border-bottom: 1px solid #E1E1E1;
      text-indent: 3.2vw;
      span{
        font-size: 3.733vw;
        color: #666;
      }
      em{
        font-size: 3.733vw;
        color: #333;
      }
    }
    .preorder_hotel{
      height: 11.73vw;
      line-height: 11.73vw;
      text-indent: 3.2vw;
      border-bottom: 1px solid #E1E1E1;
      span{
        font-size: 4vw;
        color:#333;
      }
      em{
        float: right;
        margin-right: 3.2vw;
        font-size: 4vw;
      }
    }
    .preorder_date_detail{
      height: 12.22vw;
      padding: 0 3.2vw;
      line-height: 13vw;
      em{
        display: inline-block;
        width: 5.06vw;
        height: 5.06vw;
        margin-right: 2vw;
        line-height: 5.06vw;
        text-align: center;
        vertical-align: text-top;
        border-radius: 50%;
        background-color: #1B7CBD;
        color: #FFF;
        i{
          font-size: 3.5vw;
        }
      }
      .date_range{
        font-size: 3.466vw;
        color:#999;
      }
      .nights{
        float: right;
        height: 6vw;
        margin-top: 3.5vw;
        line-height: 5.3vw;
        padding: 0 2vw;
        vertical-align: middle;
        font-size: 3.466vw;
        border:2px solid #1B7CBD;
        border-radius: 1vw;
        color:#1B7CBD;
      }
    }
    .normal_item{
      padding: 0 3.2vw;
      height: 10.8vw;
      line-height: 10.8vw;
      span{
        display: inline-block;
        width: 24vw;
        text-align: right;
        font-size: 4vw;
        color: #666;
      }
      em{
        border-radius: 1vw;
        font-size: 3.2vw;
        padding: .5vw 1vw;
        &.hasl{
          border: 2px solid #F86F14;
          color: #F86F14;
        }
        &.notp{
          border: 2px solid #BBB;
          color:#999;
        }
      }
    }
    .total_money{
      height: 15vw;
      padding: 0 3.2vw;
      margin-top: 2vw;
      border-top: 1px solid #E1E1E1;
      span{
        float: right;
        height: 15vw;
        line-height: 15vw;
        font-size: 3.733vw;
        color: #666;
        sub{
          vertical-align: baseline;
          color: #F86F14;
        }
        em{
          font-size: 4vw;
          color: #F86F14;
        }
      }
    }
    .user_actions{
      border-top: 2.666vw solid #F5F5F5;
      padding-bottom: 10vw;
      .auto_print{
        height: 12.8vw;
        line-height: 12.8vw;
        padding:0 3.2vw;
        i{
          font-size: 5vw;
          line-height: 12.8vw;
          vertical-align: middle;
          margin-right: 2vw;
          color: #1B7CBD;
        }
        span{
          font-size: 3.733vw;
          line-height: 12.8vw;
          vertical-align: middle;
          color: #333;
        }
      }
      ul{
        overflow: hidden;
        li{
          float: left;
          width: 44.8vw;
          height: 12vw;
          text-align: center;
          font-size: 4vw;
          line-height: 11.22vw;
          border-radius: 1vw;
          border:1px solid #1B7CBD;
          color:#1B7CBD;
          &:nth-child(2n+1){
            margin:2vw 1.733vw 2vw 3.466vw;
          }
          &:nth-child(2n){
            margin: 2vw 3.466vw 2vw 1.733vw;
          }
        }
      }
    }
  }
}
.order_print,.scaning_card{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 110;
  header{
    position: absolute;
    width:100vw;
    height:11.73vw;
    line-height: 11.73vw;
    text-align: center;
    background-color: #1B7CBD;
    z-index:102;
    a{
      position: absolute;
      left:0;
      top:0;
      height:11.73vw;
      width:12vw;
      text-align: left;
      text-indent: 3.2vw;
      i{
        line-height: 11.73vw;
        font-size: 8vw;
        color:#FFF;
      }
    }
    span{
      font-size: 4.8vw;
      color:#FFF;
      font-family: "Microsoft YaHei";
    }
  }
  section{
    position: absolute;
    left:0;
    top:11.73vw;
    width:100vw;
    height: calc(100% - 11.73vw);
    overflow: hidden;
    background-image: url(../../../assets/images/form_print.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 133.33vw;
    background-position: 0 5vw;
  }
}
.scaning_card section{
  background:none;
  .scan_div{
    width: 100vw;
    height: 62vw;
    margin-top: 15vw;
    background-repeat: no-repeat;
    background-size: 100vw 62vw;
    background-position: center;
    background-image: url(../../../assets/images/scan.png);
  }
  .scan_tips{
    width: 100vw;
    height: 24vw;
    background-repeat: no-repeat;
    background-size: 100vw 24vw;
    background-position: center;
    background-image: url(../../../assets/images/scan_tips.jpg);
  }
  .scan_button{
    display: block;
    width: 93.33vw;
    height: 12vw;
    margin: 5.33vw auto;
    background-color: #1B7CBD;
    line-height: 12vw;
    text-align: center;
    border: none;
    border-radius: 1vw;
    letter-spacing: 1px;
    outline: none;
    color: #FFF;
  }
}
