.protocol,.protocol_week,.goods_panel{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index:101;
  background-color: #FFF;
  header{
    position: absolute;
    width:100vw;
    height:11.73vw;
    line-height: 11.73vw;
    text-align: center;
    background-color: #1B7CBD;
    z-index:102;
    a{
      position: absolute;
      left:0;
      top:0;
      height:11.73vw;
      width:12vw;
      text-align: left;
      text-indent: 3.2vw;
      i{
        line-height: 11.73vw;
        font-size: 8vw;
        color:#FFF;
      }
    }
    span{
      font-size: 4.8vw;
      color:#FFF;
      font-family: "Microsoft YaHei";
    }
    em{
      position: absolute;
      right: 0;
      top: 0;
      height: 11.73vw;
      width: 13vw;
      .icon-search{
        line-height: 11.73vw;
        font-size: 5vw;
        color: #FFF;
      }
    }
  }
  section{
    position: absolute;
    left:0;
    top:11.73vw;
    width:100vw;
    height: calc(100% - 11.73vw);
    overflow-x: hidden;
    overflow-y: auto;
    .protocol_list{
      p{
        height: 14.5vw;
        padding: 0 3.2vw;
        line-height: 14.5vw;
        font-size: 4vw;
        border-bottom: 1px solid #E1E1E1;
        i{
          float: right;
          line-height: 14.5vw;
          font-size: 6vw;
          color: #BBB;
        }
      }
    }
  }
}
.protocol_week{
  z-index:110;
  section{
    .week_type{
      height: 13vw;
      line-height: 13vw;
      p{
        float: left;
        width: 50%;
        padding-left: 3.2vw;
        font-size: 3.733vw;
        i{
          font-size: 3.733vw;
          margin-right: 2vw;
          vertical-align: baseline;
        }
        .icon-check-circle2{
          display: none;
        }
        &.cur{
          .icon-circle2{
            display: none;
          }
          .icon-check-circle2{
            display: inline;
            color: #1B7CBD;
          }
        }
      }
    }
    .tips{
      padding: 0 3.2vw;
      font-size: 3.466vw;
      line-height: 7.5vw;
      color: #666;
    }
  }
}
.week_search{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: #FFF;
  z-index: 110;
  header{
    position: absolute;
    width:100vw;
    height:11.73vw;
    line-height: 11.73vw;
    text-align: center;
    background-color: #1B7CBD;
    z-index:102;
    a{
      position: absolute;
      left:0;
      top:0;
      height:11.73vw;
      width:12vw;
      text-align: left;
      text-indent: 3.2vw;
      i{
        line-height: 11.73vw;
        font-size: 8vw;
        color:#FFF;
      }
    }
    div{
      position: relative;
      width: 80vw;
      height: 8vw;
      margin: 1.865vw auto;
      background-color: #FFF;
      border-radius: 4vw;
      overflow: hidden;
      i{
        position: absolute;
        left: 0;
        top: 0;
        height: 8vw;
        width: 8vw;
        line-height: 8vw;
        text-indent: 1vw;
        font-size: 5vw;
        color: #1B7CBD;
      }
      input{
        position: absolute;
        left: 8vw;
        top: 0;
        height: 8vw;
        width:60vw;
        border:none;
        outline: none;
        font-size: 4vw;
        font-family: "Microsoft YaHei";
        color: rgb(51, 51, 51);
      }
      em{
        position: absolute;
        right: 0;
        top: 0;
        width: 11vw;
        height: 8vw;
        line-height: 8vw;
        font-size: 7vw;
        color: #A2A2A2;
      }
    }
  }
  section{
    position: absolute;
    left:0;
    top:11.73vw;
    width:100vw;
    height: calc(100% - 11.73vw);
    overflow-x: hidden;
    overflow-y: auto;
    .room_panel{
      height: 66.666vw;
      padding: 5.333vw 3.2vw;
      border-bottom: 2.666vw solid #F5F5F5;
      .room_card{
        position: relative;
        height: 23.6vw;
        background-color: #F9F9F9;
        border-radius: 2vw;
        padding: 0 10vw 0 2vw;
        margin-bottom: 5.333vw;
        overflow: hidden;
        &:before{
          content: '';
          position: absolute;
          left:0;
          top:0;
          width:1.466vw;
          height: 100%;
          background-color: #D9D9D9;
        }
        div{
          height: 23.6vw;
          padding: 1vw 0;
          p{
            float: left;
            height: 7.2vw;
            line-height: 7.2vw;
            span{
              display: inline-block;
              text-align: right;
              font-size: 3.733vw;
              color: #666;
            }
            em{
              font-size: 3.733vw;
              color:#333;
            }
            &:nth-child(2n+1){
              width: 43vw;
              span{
                width:21vw;
              }
            }
            &::nth-child(2n){
              width: 40vw;
              span{
                width: 12vw;
              }
            }
          }
        }
        i{
          position: absolute;
          right: 0;
          top: 0;
          width: 10vw;
          height: 23.6vw;
          line-height: 23.6vw;
          font-size: 5.335vw;
          text-indent: 1vw;
          &.icon-circle2{
            display: block;
          }
          &.icon-check-circle2{
            display: none;
          }
        }
        &.cur{
          &:before{
            background-color: #1B7CBD;
          }
          i{
            &.icon-circle2{
              display: none;
            }
            &.icon-check-circle2{
              display: block;
              color: #1B7CBD;
            }
          }
        }
      }
    }
    .time_panel{
      h3{
        height: 11vw;
        padding: 0 3.2vw;
        line-height: 13vw;
        font-size: 4vw;
        font-weight: normal;
        margin-bottom: 2vw;
        span{
          font-size: 3.466vw;
          color:#999;
        }
      }
      .time_div{
        height: 12.8vw;
        line-height: 12.8vw;
        position: relative;
        padding-left: 21.6vw;
        span{
          position: absolute;
          width: 21.6vw;
          left:0;
          top:0;
          height: 12.8vw;
          line-height: 12.8vw;
          font-size: 3.466vw;
          text-align: right;
        }
        div{
          height: 12.8vw;
          font-size: 3.466vw;
          p{
            display: inline-block;
            width: 28.8vw;
            height: 8vw;
            line-height: 8vw;
            vertical-align: middle;
            border: 1px solid #E1E1E1;
            border-radius: 1.5vw;
            overflow: hidden;
            input{
              height: 7.2vw;
              width:24vw;
              padding-left: 2vw;
              line-height: 7.2vw;
              vertical-align: top;
              border:none;
              outline: none;
            }
          }
        }
        &:last-child{
          div{
            p{
              width:73.6vw;
              input{
                width:70vw;
              }
            }
          }
        }
      }
    }
    button{
      display: block;
      width: 93.33vw;
      height: 12vw;
      margin: 5.33vw auto;
      background-color: #1B7CBD;
      line-height: 12vw;
      text-align: center;
      border: none;
      border-radius: 1vw;
      letter-spacing: 1px;
      outline: none;
      color: #FFF;
    }
  }
}
.goods_panel{
  header{
    em{
      i{
        line-height: 11.73vw;
        font-size: 5vw;
        color:#FFF;
      }
    }
  }
  section{
    .tap_change{
      height: 12vw;
      border-bottom: 1px solid #E1E1E1;
      span{
        float: left;
        width: 50%;
        height: 12vw;
        line-height: 12vw;
        text-align: center;
        font-size: 4vw;
        border-bottom: 2px solid transparent;
        &.cur{
          border-bottom-color:#1B7CBD;
          color:#1B7CBD;
        }
      }
    }
    .give_back{
      .back_goods_panel{
        width: 100vw;
        height: 36.266vw;
        padding: 2.5vw 3.2vw;
        .back_goods{
          position: relative;
          height: 31.2vw;
          background-color: #f9f9f9;
          border-radius: 2vw;
          padding: 0 10vw 0 2vw;
          overflow: hidden;
          &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.466vw;
            height: 100%;
            background-color: #d9d9d9;
          }
          div{
            height: 31.2vw;
            padding: 1vw 0;
            p{
              float: left;
              height: 7.2vw;
              line-height: 7.2vw;
              span{
                display: inline-block;
                width: 20vw;
                text-align: right;
                font-size: 3.733vw;
                color: #666;
              }
              em{
                font-size: 3.733vw;
                color: #333;
              }
              &:nth-child(2n+1){
                width:45vw;
              }
              &:nth-child(7){
                width: 100%;
              }
            }
          }
          i{
            position: absolute;
            right: 0;
            top: 0;
            width: 10vw;
            height: 31.2vw;
            line-height: 31.2vw;
            font-size: 5.335vw;
            text-indent: 1vw;
            &.icon-check-circle2{
              display: none;
            }
          }
        }
        &.cur{
          .back_goods{
            &::before{
              background-color: #1B7CBD;
            }
            .icon-circle2{
              display: none;
            }
            .icon-check-circle2{
              display: block;
              color: #1B7CBD;
            }
          }
        }
      }
    }
    .goods_manage{
      .manage_div{
        height: 18.4vw;
        padding: 4.8vw 3.2vw 0;
        border-bottom: 1px solid #E1E1E1;
        a{
          display: block;
          width: 34vw;
          height: 8.8vw;
          text-align: center;
          line-height: 8.8vw;
          background-color: #1B7CBD;
          border-radius: 1vw;
          color:#FFF;
        }
      }
      .goods_panel{
        position: relative;
        &::before{
          content: "";
          position: absolute;
          width: 4vw;
          height: 4vw;
          left: 9.5vw;
          top: -2.528vw;
          border-left:1px solid #E1E1E1;
          border-top:1px solid #E1E1E1;
          transform: rotatex(0) rotateY(-60deg) rotateZ(45deg);
          background-color: #FFF;
        }
        p{
          height: 12vw;
          line-height: 12vw;
          padding: 0 3.2vw;
          border-bottom: 1px solid #E1E1E1;
          em{
            float: right;
          }
        }
      }
    }
    .goods_filter{
      position: fixed;
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
      z-index:120;
      .filter_conts{
        position: absolute;
        left: 10.4vw;
        width: 89.6vw;
        height: 100%;
        background-color: #FFF;
        h4{
          height: 11.73vw;
          padding:0 3.2vw;
          line-height: 11.73vw;
          background-color: #F5F5F5;
          font-size: 4vw;
          font-weight: normal;
          color:#333;
        }
        .item_div{
          padding: 3.2vw;
          div{
            height: 12vw;
            line-height: 12vw;
            span{
              display: inline-block;
              width: 20vw;
              text-align: center;
              font-size: 3.733vw;
            }
            p{
              position: relative;
              display: inline-block;
              width: 50.66vw;
              height: 8vw;
              line-height: 8vw;
              vertical-align: middle;
              border: 1px solid #e1e1e1;
              overflow: hidden;
              input{
                width: 40vw;
                height: 7.5vw;
                vertical-align: top;
                border: none;
                margin-left: 2vw;
                font-size: 3.733vw;
              }
              i{
                position: absolute;
                top: 1.5vw;
                right: 2vw;
                font-size: 4vw;
                color: #bbb;
              }
            }
            &:last-child{
              height: 20vw;
              padding-top: 5vw;
              p{
                height: 12vw;
                line-height: 12vw;
                border: none;
                a{
                  display: block;
                  height: 8.8vw;
                  width: 29.333vw;
                  line-height: 8.8vw;
                  text-align: center;
                  font-size: 3.73vw;
                  border-radius: 1vw;
                  background-color: #1B7CBD;
                  color:#FFF;
                }
              }
            }
          }
        }
      }
    }
    button{
      display: block;
      width: 93.33vw;
      height: 12vw;
      margin: 5.33vw auto;
      background-color: #1B7CBD;
      line-height: 12vw;
      text-align: center;
      border: none;
      border-radius: 1vw;
      letter-spacing: 1px;
      outline: none;
      color: #FFF;
    }
  }
}
